.card {
  border: 1px solid black;
  width: 32%;
  height: 200px;
  position:relative;
  margin: 5px;
  }
  /* Your card CSS code here */
.card h1 {
  font-size: 25px;
  font-weight: bold;
  color: white;
  bottom: 10px;
  padding-top: 70px;
}
.card-body {
height: 150px;

}
.card h5 {
  font-size: 15px;
  font-weight: 250;
  color: white;
  position: absolute;
  bottom: 20px;
}
.card span {
letter-spacing: 1.5;
padding: 10px;
}
// .cards {
//   display: flex;
// }
.avatar {
  width: 30px;
  border-radius: 50%;
}
