<ul class="list-inline text-center">
  <% ["MJEGOMJEGO", "Fannybrd27"].each do |gh_username| %>
    <li>
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{gh_username}", class: "img-circle team-pics" %>

      <h3><%=  gh_username.capitalize %></h3>
      <i class="fab fa-github"></i>
    </li>
  <% end %>
</ul>
